body {
  font: 12pt Roboto, Arial, Helvetica;
  background: white;
}

.content {
  width: 800px;
  margin: auto;
  background: black;
  float: right;
}

.sidebar {
  margin-top: 10px;
  width: 150px;
  padding: 0 10px;
  float: left;
  background: yellow;
}

.footer {
  background: grey;
  
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
  "nav content content"
  "footer footer footer";
  height: 100vh;
  margin: 0;
}

